body {
  background-color: wheat;
  font: normal 18px Arial;
  padding: 16px 0;
}

header {
  text-align: center;
}

.titulo{
  color: #131313;
}

section {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 4px 16px #0437541b;
}

div {
  text-align: center;
  padding: 16px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #3c3c3c;
  margin-top: 32px;
}